body, html
{
	font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;

	width: 100%;
	height: 100%;

	margin: 0;
	background-color: #fefefe;
	
	display: flex;
}

img
{
	width: 780px;
	height: 540px;
}

canvas
{
	position: absolute;
}

#mousecoords
{
	font-size: 15px;

	position: absolute;
	bottom: 0;
	left: 0;
}



main
{
	width: 100%;
	height: 100%;

	border-left: 1px solid grey;
}

main header
{
	text-align: center;
	width: 100%;

	background-color: #f0f0f0;
	box-shadow: 0 1px 12px 0 rgba(0,0,0,0.4);

	position: relative;
}

main header h1
{
	padding-top: 0;
	margin-top: 0;
	font-size: 24px;
	font-weight: 400;
}

main .position
{
	position: relative;
}

.selector
{
	cursor: pointer;
	font-size: 24px;
	line-height: 23px;
	color: black;

	position: absolute;
	top: -3px;
	right: 11px;
	border-radius: 5px;
    background-color: inherit;
}

.selector.active
{
	background-color: #2196F3;
	color: #fefefe
}


.actionlist {
  	list-style-type: none;
    padding :0;
}
.actionlist li {
	font-size: 16px;
	position: relative;
	background: #ededed;
    padding: 5px 0 5px 10px;
}
.actionlist li:nth-child(odd) {background: #ccc;}

.suppr
{
	cursor: pointer;
	position: absolute;
	top: -2px;
	right: 3px;

	font-size: 30px;
	line-height: 31px;
	color: #383C53;
}

.actionselect {
	background: #f0f0f0;
	margin: 0;
}

.actionselect select {
	width: 99%; height: 21px;
    border: none;
    background: transparent;
	font-size: 16px;

	margin-bottom: 15px;
}

.actionselect option {
	padding: 0;
	font-family: 'BlinkMacSystemFont', 'Lucida Grande', 'Segoe UI', Ubuntu, Cantarell, sans-serif;
}
